In [1]:
from utils_morpheus import *

R[write to console]:
Attaching package: ‘compare’


R[write to console]: The following object is masked from ‘package:base’:

    isTRUE


R[write to console]:
Attaching package: ‘dplyr’


R[write to console]: The following objects are masked from ‘package:stats’:

    filter, lag


R[write to console]: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
mcoder = MorpheusInterpreter()

In [5]:
a = mcoder.random_table()

In [6]:
mcoder.print_obj(a)

   OCOL1  OCOL2  OCOL3            OCOL4 OCOL5
1     79 -63.60 -88.70            blunk   -23
2     20  41.08  -7.29     pogonophobia    89
3    -98 -97.55 -23.91        crapefish   -99
4     41  22.50  54.32   nudibranchiate    15
5     27  22.62 -10.06         verbiles    64
6     35  45.39 -67.63 antimonopolistic    13
7    -63 -36.14  89.31 overinterference    55
8     83  62.99  12.12           scapes   -24
9     76 -22.15 -49.79         castoffs    -4
10    86  57.88  -1.76       unmovingly    85

In [15]:
mcoder.outv_check("ABC")

False

In [8]:
a

'RET_DF3'

In [9]:
robjects.r("ABC <- RET_DF3 %>% mutate(NEW=.[[1]]/.[[3]])")

R object with classes: ('data.frame',) mapped to:
[Float..., Float..., Float..., StrSe..., Float..., Float...]
  OCOL1: <class 'rpy2.rinterface.FloatSexpVector'>
  <rpy2.rinterface.FloatSexpVector object at 0x108150088> [RTYPES.REALSXP]
  OCOL2: <class 'rpy2.rinterface.FloatSexpVector'>
  <rpy2.rinterface.FloatSexpVector object at 0x1081502c8> [RTYPES.REALSXP]
  OCOL3: <class 'rpy2.rinterface.FloatSexpVector'>
  <rpy2.rinterface.FloatSexpVector object at 0x108150bc8> [RTYPES.REALSXP]
  OCOL4: <class 'rpy2.rinterface_lib.sexp.StrSexpVector'>
  <rpy2.rinterface_lib.sexp.StrSexpVector object at 0x108150088> [RTYPES.STRSXP]
  OCOL5: <class 'rpy2.rinterface.FloatSexpVector'>
  <rpy2.rinterface.FloatSexpVector object at 0x1081502c8> [RTYPES.REALSXP]
  NEW: <class 'rpy2.rinterface.FloatSexpVector'>
  <rpy2.rinterface.FloatSexpVector object at 0x108150088> [RTYPES.REALSXP]

In [13]:
robjects.r("ABC <- spread(RET_DF3,c(2),c(3))")

R object with classes: ('data.frame',) mapped to:
[FloatSexp..., StrSexpVe..., FloatSexp..., FloatSexp..., ..., FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp...]
  OCOL1: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[-98.000000, -63.000000, 20.000000, 27.000000, ..., 76.000000, 79.000000, 83.000000, 86.000000]
  OCOL4: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
['crapefish', 'overinte..., 'pogonoph..., 'verbiles', ..., 'castoffs', 'blunk', 'scapes', 'unmoving...]
  OCOL5: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[-99.000000, 55.000000, 89.000000, 64.000000, ..., -4.000000, -23.000000, -24.000000, 85.000000]
  -97.55: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[-23.910000,      nan,      nan,      nan, ...,      nan,      nan,      nan,      nan]
...
  -36.14: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[     nan,      nan, -7.290000,      nan, ...,      nan,      nan,      nan,      nan]
  -22.15: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[     nan,      nan,      nan,      nan, ...,      nan,      nan,      nan,      nan]
  22.5: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[     nan,      nan,      nan,      nan, ...,      nan,      nan,      nan, -1.760000]
  22.62: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[     nan,      nan,      nan,      nan, ...,      nan,      nan, 12.120000,      nan]

In [14]:
mcoder.print_obj("ABC")

   OCOL1            OCOL4 OCOL5 -97.55 -63.6 -36.14 -22.15  22.5  22.62 41.08
1    -98        crapefish   -99 -23.91    NA     NA     NA    NA     NA    NA
2    -63 overinterference    55     NA    NA  89.31     NA    NA     NA    NA
3     20     pogonophobia    89     NA    NA     NA     NA    NA     NA -7.29
4     27         verbiles    64     NA    NA     NA     NA    NA -10.06    NA
5     35 antimonopolistic    13     NA    NA     NA     NA    NA     NA    NA
6     41   nudibranchiate    15     NA    NA     NA     NA 54.32     NA    NA
7     76         castoffs    -4     NA    NA     NA -49.79    NA     NA    NA
8     79            blunk   -23     NA -88.7     NA     NA    NA     NA    NA
9     83           scapes   -24     NA    NA     NA     NA    NA     NA    NA
10    86       unmovingly    85     NA    NA     NA     NA    NA     NA    NA
    45.39 57.88 62.99
1      NA    NA    NA
2      NA    NA    NA
3      NA    NA    NA
4      NA    NA    NA
5  -67.63    NA    NA
6      NA    NA    NA
7      NA    NA    NA
8      NA    NA    NA
9      NA    NA 12.12
10     NA -1.76    NA

In [22]:
morpheus_perspective1("ABC",verbose=True)

shape_r:[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]
shape_c:[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
und:[0, 0, 0, 0, 0, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]
val_ratio:[0.31]
str_ratio:[0.1]
num_ratio:[0.21]
rnd_dec:[0, 0, 0, 0, 1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 0.31,
 0.1,
 0.21,
 0,
 0,
 0,
 0,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1]

In [12]:
morpheus_perspective1(a,verbose=True)

shape_r:[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]
shape_c:[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
und:[0, 0, 0, 0, 0, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]
val_ratio:[0.19]
str_ratio:[0.04]
num_ratio:[0.15]
rnd_dec:[0, 0, 0, 0, 0, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 0.19,
 0.04,
 0.15,
 0,
 0,
 0,
 0,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1]

In [23]:
len(morpheus_perspective1(a,verbose=True))

shape_r:[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]
shape_c:[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
und:[0, 0, 0, 0, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]
val_ratio:[0.24]
str_ratio:[0.1]
num_ratio:[0.14]
rnd_dec:[0, 0, 0, 0, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]

63